*{
    user-select: none;
    overflow: hidden;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf');
}

.container{
    font-family: 'Nunito';
    color: white;
    background-color: rgb(12, 12, 12);
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    width: 45vw;
    height: 30vw;
    border-radius: 0.1vw;
    position: absolute;
    top: 15vw;
    left: 30vw;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0vw;
    height: 0vw;
}
  
::-webkit-scrollbar-track {
    background: #3a3636d3;
}
  
::-webkit-scrollbar-thumb {
    background-color: #2e6bdb;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #1556cf;
}

.fa-close{
    position: absolute;
    right: 0.6vw;
    top: 0.5vw;
    color: white;
    font-size: 1.25vw;
}

.fa-close:hover{
    transition: 2s;
    color: red;
}

.weaponitems-itembox{
    position: absolute;
    left: 0.25vw;
    width: 44.5vw;
    top: 1.75vw;
    height: 27.75vw;
    overflow: scroll;
}

.weapon-box{
    height: auto;
    background-color: rgb(20, 20, 20);
    border-radius: 0.1vh;
    top: 0vh;
    margin: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    transition: background-color 250ms;
}

#weaponcompname{
    font-size: 0.01vw;
    color: transparent;
}

#weaponname{
    font-size: 0.8vw;
}

#weaponcomp{
    margin-bottom: 0.5vh;
}

#weaponicon{
    width: 8vh;
    height: auto;
    margin-bottom: 0.5vh;
}

#weaponprice{
    margin-bottom: 0.5vh;
}

#weapon-buy-button{
    width: 50vh;
    height: 3vh;
    border-radius: 0.1vh;
    margin: 1vh;
    color: white;
    font-size: 2vh;
    outline: none;
    border: none;
    transition: opacity 250ms;
    background-color: #2268d3;
    font-family: 'Nunito';
}

#weapon-buy-button:hover{
    transition: 500ms;
    background-color: #114da7;
}